__pycache__/
.pytest_cache/
*.py[cod]
*.bak
*.orig
*.rej
*.save
*.swp
*.swo
*~
.coverage
coverage.xml
htmlcov/
CMakeFiles/
CMakeCache.txt
Testing/
/build/
/install/
/log/
maps/smoke_map_*.pgm
maps/smoke_map_*.yaml
