[Unit]
Description=Studica managed robot platform
Requires=studica-firewall.service studica-hardware.service studica-mode-manager.service
Requires=studica-update-recovery.service
Wants=studica-orchestrator.service studica-lidar.service studica-joystick.service studica-web.service
After=studica-update-recovery.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
