<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_hardware" default="false" />
  <xacro:arg name="use_gazebo_classic" default="false" />
  <xacro:arg name="use_gz_sim" default="false" />
  <xacro:arg name="gz_version" default="8" />

  <xacro:include filename="$(find studica_vmxpi_ros2)/description/diffbot/urdf/diffbot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find studica_vmxpi_ros2)/description/diffbot/urdf/diffbot.materials.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find studica_vmxpi_ros2)/description/ros2_control/diffbot.ros2_control.xacro" />

  <xacro:diffbot prefix="$(arg prefix)" />

  <xacro:diffbot_ros2_control
    name="DiffBot"
    prefix="$(arg prefix)"
    use_hardware="$(arg use_hardware)"
    use_gazebo_classic="$(arg use_gazebo_classic)"
    use_gz_sim="$(arg use_gz_sim)"/>

  <xacro:if value="$(arg use_gazebo_classic)">
    <!-- Import Gazebo Classic definitions + plugin -->
    <xacro:include filename="$(find studica_vmxpi_ros2)/description/gazebo/diffbot.gazebo.xacro" />
    <xacro:diffbot_gazebo prefix="$(arg prefix)"/>
  </xacro:if>

  <xacro:if value="$(arg use_gz_sim)">
    <!-- Import Gazebo Sim definitions + plugin -->
    <xacro:include filename="$(find studica_vmxpi_ros2)/description/gz/diffbot.gz.xacro" />
    <xacro:diffbot_gz prefix="$(arg prefix)" gz_version="$(arg gz_version)"/>
  </xacro:if>

</robot>
