<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="diffbot_gazebo" params="prefix">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find vmxpi_ros2)/config/diffbot_controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <!-- Joint State Publisher Plugin -->
    <gazebo>
      <plugin name="gazebo_joint_state_broadcaster" filename="libgazebo_ros_joint_state_publisher.so">
        <update_rate>50</update_rate>  <!-- Adjust the rate as needed -->
        <!-- <joint_name>${prefix}base_link_joint</joint_name> -->
        <!-- <joint_name>${prefix}right_wheel_joint</joint_name> -->
        <!-- <joint_name>${prefix}left_wheel_joint</joint_name> -->
        <joint_name>${prefix}caster_frontal_wheel_joint</joint_name>
        <joint_name>${prefix}caster_rear_wheel_joint</joint_name>
        <!-- <joint_name>${prefix}laser_scan_frame_joint</joint_name>
        <joint_name>${prefix}laser_scan_model_link_joint</joint_name>    -->
      </plugin>
    </gazebo>

    <!-- Base Link -->
    <gazebo reference="${prefix}chassis_link">
      <material>Gazebo/Orange</material>
    </gazebo>

    <!-- Left Wheel -->
    <gazebo reference="${prefix}left_wheel">
      <kp>1e6</kp>
      <kd>1e4</kd>
      <friction>
        <ode>
          <mu>10</mu>
          <mu2>10</mu2>
        </ode>
      </friction>
      <material>Gazebo/Black</material>
    </gazebo>

    <!-- Right Wheel -->
    <gazebo reference="${prefix}right_wheel">
      <kp>1e6</kp>
      <kd>1e4</kd>
      <friction>
        <ode>
          <mu>10</mu>
          <mu2>10</mu2>
        </ode>
      </friction>
      <material>Gazebo/Black</material>
    </gazebo>

    <!-- Caster Frontal Wheel -->
    <gazebo reference="${prefix}caster_frontal_wheel">
      <kp>1e6</kp>
      <kd>1e4</kd>
      <friction>
        <ode>
          <mu>0.001</mu>
          <mu2>0.001</mu2>
        </ode>
      </friction>
      <material>Gazebo/Green</material>
    </gazebo>

    <!-- Caster Rear Wheel -->
    <gazebo reference="${prefix}caster_rear_wheel">
      <kp>1e6</kp>
      <kd>1e4</kd>
      <friction>
        <ode>
          <mu>0.001</mu>
          <mu2>0.001</mu2>
        </ode>
      </friction>
      <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="${prefix}laser_scan_frame">
      <sensor name="sensor_ray" type="ray">
          <pose>0 0 0 0 0 0</pose>
          <ray>
            <scan>
              <horizontal>
                <samples>200</samples>
                <resolution>1.0</resolution>
                <min_angle>-3.14</min_angle>
                <max_angle>3.14</max_angle>
              </horizontal>
            </scan>
            <range>
              <min>0.1</min>
              <max>5.0</max>
            </range>
          </ray>
          <always_on>true</always_on>
          <visualize>true</visualize>
          <update_rate>20.0</update_rate>
          <plugin name="laser_scan_node" filename="libgazebo_ros_ray_sensor.so">
            <ros>
              <remapping>~/out:=scan</remapping>
            </ros>
            <frame_name>${prefix}laser_scan_frame</frame_name>
            <output_type>sensor_msgs/LaserScan</output_type>
          </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
